<div class="p-4">
  <p-card>
    <ng-template pTemplate="header">
      <div class="flex items-center gap-2">
        <i class="pi pi-file"></i>
        <span>Upload de CSV</span>
      </div>
    </ng-template>

    <div class="p-2">
      <p-fileUpload
        mode="advanced"
        multiple="true"
        accept=".csv"
        chooseLabel="Selecionar arquivos"
        uploadLabel="Processar"
        cancelLabel="Limpar"
        [showUploadButton]="true"
        [showCancelButton]="true"
        [customUpload]="true"
        (uploadHandler)="onUploadHandler($event)"
        (onSelect)="onSelectFiles($event)"
        (onClear)="onClearFiles()"
      ></p-fileUpload>

      <div class="mt-2">
        <span>Arquivos selecionados: {{ files().length }}</span>
      </div>
    </div>

    <div class="p-2">
      <div class="grid grid-cols-1 gap-4">
        <div>
          <span>Reservas</span>
          <p-table [value]="bookings()" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th>Código</th>
                <th>Hóspede</th>
                <th>Anúncio</th>
                <th>Início</th>
                <th>Término</th>
                <th>Noites</th>
                <th>Moeda</th>
                <th>Valor</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-b>
              <tr>
                <td>{{ b.confirmationCode }}</td>
                <td>{{ b.guest }}</td>
                <td>{{ b.listing }}</td>
                <td>{{ b.startDate }}</td>
                <td>{{ b.endDate }}</td>
                <td>{{ b.nights }}</td>
                <td>{{ b.currency }}</td>
                <td>{{ b.amount }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div>
          <span>Repasse Coanfitrião</span>
          <p-table [value]="cohostShares()" [tableStyle]="{ 'min-width': '40rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th>Código</th>
                <th>Moeda</th>
                <th>Host</th>
                <th>Coanfitrião</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-s>
              <tr>
                <td>{{ s.confirmationCode }}</td>
                <td>{{ s.currency }}</td>
                <td>{{ s.hostAmount }}</td>
                <td>{{ s.cohostAmount }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div>
          <span>Transferências</span>
          <p-table [value]="payouts()" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th>Disponível</th>
                <th>Conta</th>
                <th>Info</th>
                <th>Referência</th>
                <th>Moeda</th>
                <th>Valor</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-p>
              <tr>
                <td>{{ p.availableDate }}</td>
                <td>{{ p.accountOwner }}</td>
                <td>{{ p.info }}</td>
                <td>{{ p.referenceCode }}</td>
                <td>{{ p.currency }}</td>
                <td>{{ p.amount }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div *ngIf="issues().length">
          <span>Alertas</span>
          <ul class="list-disc pl-6">
            <li *ngFor="let i of issues()">{{ i }}</li>
          </ul>
        </div>
      </div>
    </div>
  </p-card>
</div>
